# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore environment variables file
.env

# Ignore macOS system files
.DS_Store

# Ignore temporary files
*.tmp
*.swp

# Ignore coverage reports
coverage/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore pdf files
*.pdf
